.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-buttons {
  margin-top: 20px;
}

.landing-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}
